In [7]:
import pandas as pd # Для выгрузки этого
import numpy as np # для рассчетов
import matplotlib.pyplot as plt # графика 
import seaborn as sns # тоже графика 

arr = pd.read_csv('New_rockyou.txt', encoding='UTF-8', sep='\t')
print(arr)

               Password
0                123456
1                 12345
2             123456789
3              password
4              iloveyou
...                 ...
14344092       xCvBnM,
14344093        ie168
14344094    abygurl69
14344095       a6_123
14344096  *7Â¡Vamos!

[14344097 rows x 1 columns]

In [8]:
arr.count()

Password    14344094
dtype: int64

In [10]:
arr.columns

Index(['Password'], dtype='object')

In [11]:
arr.isnull()

          Password
0            False
1            False
2            False
3            False
4            False
...            ...
14344092     False
14344093     False
14344094     False
14344095     False
14344096     False

[14344097 rows x 1 columns]

In [ ]:
arr=[0,0,0,0,0,0,0,0,0,0]